PORT=4000
FRONTEND_ORIGIN=http://localhost:5173
FIREBASE_PROJECT_ID=hack-14ae1
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@example.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace_me\n-----END PRIVATE KEY-----\n"
# STK Push Credentials (Seller pays business)
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=your_consumer_secret
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_SHORTCODE=174379
MPESA_CALLBACK_URL=https://mydomain.com/mpesa-express-simulate/
MPESA_ENV=sandbox
MPESA_RECEIVER_NAME=Delivery Kenya
MPESA_TRANSACTION_TYPE=CustomerPayBillOnline
# B2C Credentials (Business pays driver) - Optional for now
MPESA_B2C_SHORTCODE=174379
MPESA_B2C_SECURITY_CREDENTIAL=
MPESA_B2C_INITIATOR_NAME=testapi
SMTP_USER=your-gmail-address@gmail.com
SMTP_PASS="your gmail app password"
EMAIL_FROM_NAME=Delivery Kenya
EMAIL_ADMIN_TO=admin@example.com
