PORT=4000
FRONTEND_ORIGIN=http://localhost:5173
FIREBASE_PROJECT_ID=hack-14ae1
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@example.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace_me\n-----END PRIVATE KEY-----\n"
MPESA_CONSUMER_KEY=2Q3X3vzb2NyEHnS3tkYUmdr84ZGOWbgVP2AdLTuhDhi5T8hq
MPESA_CONSUMER_SECRET=kY6M3pIofLl4TOJbvSbJ7LJUm4fZho0uoe5XtUhgqXP3EzcRUt3hw17SoVn1dcvF
MPESA_PASSKEY=
MPESA_SHORTCODE=174379
MPESA_CALLBACK_URL=
